
.date {
    font-size: 30px;
    font-weight: bold;
    line-height: 0.8;
    color:#c00;
}

small.wholeDate {
    font-size: 10px;
    color: #ccc;
    padding: 10px 20px 5px 0px;
    float: left;
    text-transform: uppercase;
}
