include ../_page
include _post

article
  +postHeader(page, false)
  .post!= yield

#attoolbox(class="addthis_toolbox addthis_default_style addthis_16x16_style",
           style="display: inline")
  a.addthis_button_email
  a.addthis_button_print
  a.addthis_button_reddit
  a.addthis_button_hackernews
  a.addthis_button_google_plusone_share
  a.addthis_button_linkedin
  a.addthis_button_sinaweibo
  a.addthis_button_facebook
  a.addthis_button_twitter
  a.addthis_button_expanded
  a#atcounter(class="addthis_counter addthis_bubble_style")

script(type="text/javascript",
       src="http://s7.addthis.com/js/250/addthis_widget.js#username=echaozh")

script(type="text/javascript")
  addthis.toolbox("#attoolbox");
  addthis.counter("#atcounter");

p

#disqus_thread

script(type="text/javascript")
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
   // required: replace example with your forum shortname
  var disqus_shortname = 'echaozh';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] ||
     document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

noscript Please enable JavaScript to view the&nbsp;
 a(href="http://disqus.com/?ref_noscript") comments powered by Disqus.

a.dsq-brlink(href="http://disqus.com") comments powered by&nbsp;
  span.logo-disqusDisqus
