include ../_page
include _post

+postHeader(page, false)
.post!= yield

#disqus_thread

script(type="text/javascript")
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
   // required: replace example with your forum shortname
  var disqus_shortname = 'echaozh';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] ||
     document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

noscript Please enable JavaScript to view the&nbsp;
 a(href="http://disqus.com/?ref_noscript") comments powered by Disqus.

a.dsq-brlink(href="http://disqus.com") comments powered by&nbsp;
  span.logo-disqusDisqus
