- var teaserForPost = function(name) {
-   var post = public.posts.data[name];
-   var full = partial ("posts/" + name);
-   var teaser = full.replace (/<!-- more -->(.|\n)*/, '', 'm');
-   return {teaser: teaser, date: post.date, title: post.title, name: name};
- }
- var teasersForPosts = function() {
-   var data = public.posts.data;
-   var teasers = {};
-   for (var name in data) {
-     if (name[0] != '_') {
-       teasers[name] = teaserForPost(name);
-     }
-   }
-   return teasers;
- }
