- var teaserForPost = function(name) {
-   var post = public.posts.data[name];
-   var full = partial ("posts/" + name);
-   var teaser = {teaser: full.replace (/<!-- more -->(.|\n)*/, '', 'm')};
-   for (var key in post) {
-     teaser[key] = post[key];
-   }
-   teaser.name = name;
-   return teaser;
- }
- var teasersForPosts = function() {
-   var data = public.posts.data;
-   var teasers = {};
-   for (var name in data) {
-     if (name[0] != '_') {
-       teasers[name] = teaserForPost(name);
-     }
-   }
-   return teasers;
- }
