include _tags
include _listing
include _teasers

- var posts = teasersForPosts()

#home
  h1 Tags
  ul.tags
    each posts, tag in tagsForPosts()
      li
        a(href="/tag.html##{tag}")
          = tag + '(' + posts.length + ') '
  h1
    | Posts (
    a(href="/posts.html")
      | Whole List:&nbsp
      != Object.keys(posts).length
    | )&nbsp;
    a(href="/feed.xml") Subscribe
  ul.posts
    - var i = 0
    each teaser, name in posts
      - if (++i <= 10)
        li
          +postTeaser(teaser)
