include _tags
include _listing
include _teasers

#home
  h1 Tags
  ul.tags
    each posts, tag in tagsForPosts()
      li
          a(href="/tag.html##{tag}")
            = tag + ' (' + posts.length + ')'
          | &nbsp;
  h1 Posts
  ul.posts
    each teaser, name in teasersForPosts()
      li
        +postTeaser(teaser)
